@import "tailwindcss";

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #1a1a1a;
  color: #eee;
}

* {
  box-sizing: border-box;
}

button:focus, input:focus, select:focus {
  outline: 1px solid #66aaff;
}
